name:  CI with Github Actions

on:
  push:
    branches:
     - main
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Docker Login
      uses: docker/login-action@v2.0.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Set up JDK 18
      uses: actions/setup-java@v3
      with:
        java-version: '18'
        distribution: 'adopt'
        cache: maven
    - name: Build application jar
      working-directory: ./
      run: mvn clean package -DskipTests
      
    - name: Docker Compose Build
      run: docker compose build
      
    - name: Push to docker hub
      run: |
        docker tag ${{ secrets.DOCKER_USERNAME }}/restfull_api:0.0.1-SNAPSHOT ${{ secrets.DOCKER_USERNAME }}/restfull_api:${{ github.run_id }}
        docker push ${{ secrets.DOCKER_USERNAME }}/restfull_api:${{ github.run_id }}
        docker push ${{ secrets.DOCKER_USERNAME }}/restfull_api:0.0.1-SNAPSHOT
