name:  CI with Github Actions

on:
  push:
    branches:
     - main
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Docker Login
      uses: docker/login-action@v2.0.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Set up JDK 18
      uses: actions/setup-java@v3
      with:
        java-version: '18'
        distribution: 'adopt'
        cache: maven
    - name: Build application jar
      working-directory: .
      run: mvn clean package -DskipTests
      
    - name: Build and push Docker images
      uses: docker/build-push-action@v3.1.0
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/restfull_api:latest, ${{ secrets.DOCKER_USERNAME }}/restfull_api:${{ github.run_id }}

